// SPDX-License-Identifier: GPL-2.0+
// Copyright 2020 IBM Corp.
/dts-v1/;

#include "ast2600-u-boot.dtsi"

/ {
        model = "Rainier";
        compatible = "ibm,rainier-bmc", "aspeed,ast2600";

	memory {
		device_type = "memory";
		reg = <0x80000000 0x40000000>;
	};

	chosen {
		stdout-path = &uart5;
	};

	aliases {
		mmc0 = &emmc_slot0;
		spi0 = &fmc;
		spi1 = &spi1;
	};

	cpus {
		cpu@0 {
			// TODO: is this required?
			clock-frequency = <800000000>;
		};
		cpu@1 {
			clock-frequency = <800000000>;
		};
	};
};

&uart5 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&sdrammc {
	clock-frequency = <400000000>;
};

&wdt2 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&mac2 {
	status = "okay";

	phy-mode = "NC-SI";
	use-ncsi;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rmii3_default &pinctrl_rmii3rclk_default>;
};

&mac3 {
	status = "okay";

	phy-mode = "NC-SI";
	use-ncsi;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rmii4_default &pinctrl_rmii4rclk_default>;
};

&fmc {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fmcquad_default>;

	flash@0 {
		// TODO: what compatible strings should be here?
		compatible = "spi-flash", "sst,w25q256";
		status = "okay";
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <2>;
		spi-rx-bus-width = <2>;
	};

	flash@1 {
		compatible = "spi-flash", "sst,w25q256";
		status = "okay";
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <2>;
		spi-rx-bus-width = <2>;
	};
};

&emmc {
	u-boot,dm-pre-reloc;
	timing-phase = <0x700ff>;
};

&emmc_slot0 {
	u-boot,dm-pre-reloc;
	status = "okay";
	bus-width = <4>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_emmc_default>;
	sdhci-drive-type = <1>;
};

&gpio0 {
        gpio-line-names =
        /*A0-A7*/       "","","","","","","","",
        /*B0-B7*/       "","","","","","","checkstop","",
        /*C0-C7*/       "","","","","","","","",
        /*D0-D7*/       "","","","","","","","",
        /*E0-E7*/       "","","","","","","","",
        /*F0-F7*/       "","","","","","","factory-reset-toggle","",
        /*G0-G7*/       "","","","","","","","",
        /*H0-H7*/       "","bmc-ingraham0","rear-enc-id0","rear-enc-fault0","","","","",
        /*I0-I7*/       "","","","","","","","",
        /*J0-J7*/       "","","","","","","","",
        /*K0-K7*/       "","","","","","","","",
        /*L0-L7*/       "","","","","","","","",
        /*M0-M7*/       "","","","","","","","",
        /*N0-N7*/       "","","","","","","","",
        /*O0-O7*/       "","","","usb-power","","","","",
        /*P0-P7*/       "","","","","pcieslot-power","","","",
        /*Q0-Q7*/       "cfam-reset","","","","","","","",
        /*R0-R7*/       "bmc-tpm-reset","power-chassis-control","power-chassis-good","","","","","",
        /*S0-S7*/       "presence-ps0","presence-ps1","presence-ps2","presence-ps3",
                                "","","","",
        /*T0-T7*/       "","","","","","","","",
        /*U0-U7*/       "","","","","","","","",
        /*V0-V7*/       "","","","","","","","",
        /*W0-W7*/       "","","","","","","","",
        /*X0-X7*/       "","","","","","","","",
        /*Y0-Y7*/       "","","","","","","","",
        /*Z0-Z7*/       "","","","","","","","";
};

&hace {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&acry {
	u-boot,dm-pre-reloc;
	status = "okay";
};
