CONFIG_PPC=y
CONFIG_SYS_TEXT_BASE=0x0c000000
CONFIG_ENV_SIZE=0x10000
CONFIG_ENV_OFFSET=0xff0000
CONFIG_ENV_SECT_SIZE=0x10000
CONFIG_DEFAULT_DEVICE_TREE="microwatt"
CONFIG_MICROWATT=y
CONFIG_TARGET_ARTY_A7=y
# CONFIG_CC_OPTIMIZE_FOR_SIZE is not set
CONFIG_PHYS_64BIT=y
CONFIG_OF_STDOUT_VIA_ALIAS=y
CONFIG_LOG=y
CONFIG_CMD_DM=y
CONFIG_CMD_LSBLK=y
CONFIG_CMD_SPI=y
CONFIG_DEFAULT_SPI_MODE=0x0
CONFIG_CMD_DHCP=y
CONFIG_CMD_PING=y
CONFIG_DOS_PARTITION=y
CONFIG_OF_CONTROL=y
CONFIG_OF_LIVE=y
CONFIG_OF_EMBED=y
CONFIG_ENV_IS_NOWHERE=y
CONFIG_ENV_IS_IN_SPI_FLASH=y
CONFIG_ENV_SECT_SIZE_AUTO=y
CONFIG_USE_ENV_SPI_MAX_HZ=y
CONFIG_ENV_SPI_MAX_HZ=12500000
CONFIG_DM=y
CONFIG_DM_DEBUG=y
CONFIG_REGMAP=y
CONFIG_SYSCON=y
CONFIG_DEVRES=y
CONFIG_SIMPLE_BUS_CORRECT_RANGE=y
CONFIG_DM_MMC=y
CONFIG_DM_SPI_FLASH=y
CONFIG_SF_DEFAULT_MODE=0x3
CONFIG_SPI_FLASH_BAR=y
# CONFIG_SPI_FLASH_UNLOCK_ALL is not set
CONFIG_SPI_FLASH_SPANSION=y
CONFIG_DM_ETH=y
CONFIG_LITEETH=y
# CONFIG_PCI is not set
CONFIG_SPECIFY_CONSOLE_INDEX=y
CONFIG_DM_SERIAL=y
CONFIG_SERIAL_RX_BUFFER=y
CONFIG_SYS_NS16550=y
CONFIG_SPI=y
CONFIG_DM_SPI=y
CONFIG_MICROWATT_SPI=y
CONFIG_OF_LIBFDT_ASSUME_MASK=0x0
CONFIG_OF_LIBFDT_OVERLAY=y
