menuconfig ASPEED_RAM
	bool "ASPEED SDRAM Options"
	# This should be replaced with ARCH_ASPEED if/when the ast2500 driver
	# supports kconfig options
	depends on ASPEED_AST2600
	default ASPEED_AST2600
	select RAM

if ASPEED_RAM

choice
	prompt "DDR4 target data rate"
	default ASPEED_DDR4_1600

config ASPEED_DDR4_400
        bool "DDR4 targets at 400Mbps"
        help
          Select DDR4 target data rate at 400M

config ASPEED_DDR4_800
        bool "DDR4 targets at 800Mbps"
        help
          Select DDR4 target data rate at 800M

config ASPEED_DDR4_1600
        bool "DDR4 targets at 1600Mbps"
        help
          Select DDR4 target data rate at 1600M

endchoice

config ASPEED_DDR4_DUALX8
        bool "Dual X8 DDR4 die"
        help
          Select dual X8 DDR4 die

config ASPEED_PALLADIUM
	bool "ASPEED palladium RAM model"
	help
	  This provides configurations specific for Aspeed Palladium SDRAM
	  model

config ASPEED_ECC
        bool "ASPEED SDRAM ECC"
        help
          Enable SDRAM error correcting code function

config ASPEED_VIDEO_SIZE
	int "Video memory reserved size"
	depends on ASPEED_ECC
	default 40
	help
	  Reserved size for Video engine. The unit is in Megabytes.

config ASPEED_CRT_SIZE
	int "CRT memory reserved size"
	depends on ASPEED_ECC
	default 8
	help
	  Reserved size for CRT engine. The unit is in Megabytes.

endif
